/* Colors From Default-Skin */
@import "default.css";

/* bigger size */
html, body           { height:100%; }
      body           { font-size:1.2em; }
#topnav button       { font-size:0.8em; }
#inner               { min-height:92%;  padding:0; }

#controls {
    position:absolute;
    height:17%;
    padding-top:2%;
    bottom:5%;
    width:100%;
}

#controls button {
    font-size:1.1em;
    width:20%;
    margin:0 2%;
}

#songinfo {
    position:absolute;
    margin:0;
    padding:0;
    height:auto;
    max-height:13em;
    top:2em;
    bottom:25%;
    width:100%;
}

#songinfo table {
    height:100%;
}

.desc   {
    width: 4em;
    text-align: right;
    padding: 0 0.4em;
}

.artist, .track, .album, .file, .time {
    height: 1em;
}

.artist, .track, .album {
    font-size: 1.35em;
    font-weight: bold;
}

.time {
    padding-right: 1em;
}

/* hover is same as active. because of touchscreen. */
a:hover, a:focus, #add tr:hover, #playlist tr:hover {
    background:inherit;
    color: inherit;
}

#playlist button, #add button {
    padding:0.4em;
    font-size:1.1em;
    min-width:2.2em;
}

#search input, #search button, #stream input, #stream button {
    padding:0.4em;
    font-size:0.8em;
}

#bytag a { 
    padding:0.4em;
    font-size:1em;
    margin-left:0.6em;
}

table     { font-size: 62.5%; }
.oddrow   { background:rgba(0,0,0,0.07); }
.evenrow  { background:rgba(0,0,0,0.00); }
.hilight  { background:#444; }
td, th    { font-size: 1.2em;}


#backcrumb .dirlink {
    border-left:1px dashed #666;
    min-width:1.5em;
    font-size:1.2em;
    padding:0.4em;
}


.dirlink, .filelink {
    padding:0.4em;
    font-size:1.3em;
}

