/* default colors. Based on icecast-streampage colors */
@import "default.css";

body          { background-color: #000000; background-image:url(stain.png); background-position:-55px -20px; background-attachment:fixed; color: #fff; font-family:mono; }

#inner        { opacity:0.8; margin-top:2em;}

#dimmer       { color: #fff; }

button       { background-color: rgba(60,60,60,0.4); }
button:hover { background-color: rgba(60,60,60,0.8); }

.hilight      { background-color: #111; }

a             { color: #F8EF64; }

a:hover,a:focus       { color: #fff; }

tt            { background-color: #444; color: #dfd; border: 1px dashed #666 }

.dirlink      { color: #5FF; }

.desc         { color: #aaa; }

.artist       { color: #dfd; }

.track        { color: #dff; }

.album        { color: #ddf; }

.file         { color: #ddd; }

.time         { color: #fff; }

.artist, .track { font-size:140%; padding: 0 0.5em;}
.album          { font-size:110%; padding: 0 0.5em;}
.file, .time    { padding: 1em; }
.dirlink, .filelink { padding-top:0.2em; padding-bottom:0.2em; }
.dirlink:hover, .filelink:hover { background-color: rgba(64,64,64,0.6); }

#songinfo { font-size:125%; }

#progress     { border: 1px solid #444; opacity:0.5;}

#progress_inn { background-color: #fff; opacity:0.2; }

#backcrumb          { background-color:rgba(64,64,64,0.5); }
#backcrumb:hover    { background-color:rgba(64,64,64,0.6); }
#backcrumb .dirlink { border-left:1px dashed #666; }

#topnav { position:fixed; top:0; left:0; width:100%; background-color:rgba(0,0,0,.5); z-index:2; }
